@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-in {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-slide {
  animation: slide-in 0.5s ease-out forwards;
}

.card-appear {
  animation: appear-in 0.5s ease-out forwards;
}
